{% extends 'partials/base.html.twig' %}
{% set yew_base = url('user://assets/yew/dist') %}

{% block body %}
    <section id="body-wrapper" class="section">
        <section class="container {{ grid_size }}">
            <div class="yew-embed">
                <iframe title="Yew Demos" src="{{ yew_base }}/index.html" loading="lazy" referrerpolicy="no-referrer"></iframe>
            </div>
        </section>
    </section>
{% endblock %}
