{% extends 'partials/base.html.twig' %}
{% set yew_base = url('user://assets/yew/dist') %}

{% block body %}
    <section id="body-wrapper" class="section">
        <div class="yew-embed yew-embed-full">
            <iframe title="Yew Demos" src="{{ yew_base }}/index.html" loading="lazy" referrerpolicy="no-referrer"></iframe>
        </div>
    </section>
{% endblock %}
